.buttonLight {
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttonLight span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #91aeec;
  opacity: 0;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttonLight span:first-child {
  position: relative;
  z-index: 1;
}

.buttonLight:hover span:last-child {
  width: 250px;
  height: 1000px;
  opacity: 1;
}
