.buttonLight {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.buttonLight::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  height: 1000px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #91aeec;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonLight:hover:before {
  scale: 1;
}

.buttonDark {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.buttonDark::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  height: 1000px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #374151;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonDark:hover:before {
  scale: 1;
}
