/* error404.css */
@media (max-width: 7680px) {
.container {
  text-align: center;
  padding: 10px;
  height: 850px;
  margin-bottom: 300px;
}

.image {
  position: relative;
  top: calc(50% - 195px);
  left: calc(50% - 30px);
  transform: translate(-50%, -50%);
  width: 1800px;
  height: 680px;
}

.message {
  position: relative;
  width: 315px;
  padding: 10px;
  text-align: left;
  top: calc(50% + -535px);
  left: calc(50% - 590px);
  font-size: 32px;
}

.redirectButton {
  position: relative;
  top: calc(50% + -480px);
  left: calc(50% - 450px);
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 280px;
  height: 150px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.postImage1 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 600px;
  top: calc(50% - 830px); 
  left: calc(50% - -220px);
}
.postImage2 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 415px;
  top: calc(50% - 1200px); 
  left: calc(50% - -460px);
}
.lineaVertical1 {
  background-color: white;
  width: 3px;
  height: 190px;
  position: relative;
  top: calc(50% - 1700px);
  left: calc(50% - 610px);
  border-radius: 12px;
}
.lineaVertical2 {
  background: rgb(0, 23, 89);
  width: 3px;
  height: 190px;
  position: relative;
  top: calc(50% - 1700px);
  left: calc(50% - 610px);
  border-radius: 12px;
}
.enchufe1{
  width: 2800px;
  position: relative;
  top: calc(50% - 1670px);
  left: calc(50% - 2750px);
}
.enchufe2{
  width: 2800px;
  position: relative;
  top: calc(50% - 1670px);
  left: calc(50% - 2750px);
}
} 

@media (max-width: 1325px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 650px;
    margin-bottom: 100px;
  }
  
  .image {
    position: relative;
    top: calc(50% - 100px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 680px;
  }
  
  .message {
    position: relative;
    width: 330px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -700px);
    left: calc(50% - 375px);
  }
  
  .redirectButton {
    position: relative;
    top: calc(50% + -680px);
    left: calc(50% - 240px);
    transform: translate(-50%, -50%);
    border-radius: 35px;
    width: 280px;
    height: 75px;
    padding: 20px;
    text-align: center;
  }
  
  .postImage1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 300px;
    top: calc(50% - 960px);
    left: calc(50% - -80px);
  }
  .postImage2 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 305px;
    top: calc(50% - 1230px);
    left: calc(50% - -265px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 3px;
    height: 200px;
    position: relative;
    top: calc(50% - 1530px);
    left: calc(50% - 395px);
  }
  .lineaVertical2 {
    background: rgb(0, 23, 89);
    width: 3px;
    height: 200px;
    position: relative;
    top: calc(50% - 1530px);
    left: calc(50% - 395px);
  }
  .enchufe1{
    width: 1700px;
    position: relative;
    top: calc(50% - 1550px);
    left: calc(50% - 1600px);
  }
  .enchufe2{
    width: 1700px;
    position: relative;
    top: calc(50% - 1550px);
    left: calc(50% - 1600px);
  }
} 

@media (min-width: 550px) and (max-width: 768px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 450px;
  }
  .image {
    position: relative;
    top: calc(50% - 220px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 220px;
    margin-top: 100px;
  }
  .message {
    position: relative;
    width: 310px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -295px);
    left: calc(50% - 240px);
    font-size: 20px;
  }
  .redirectButton {
    position: relative;
    top: calc(50% + -295px);
    left: calc(50% - 140px); 
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 200px;
    height: 30px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
  }
  .postImage1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 250px;
    top: calc(50% - 480px); 
    left: calc(50% - -60px);
  }
  .postImage2 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 250px;
    top: calc(50% - 690px); 
    left: calc(50% - -180px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 3px;
    height: 160px;
    position: relative;
    top: calc(50% - 940px);
    left: calc(50% - 255px);
    border-radius: 12px;
  }
  .lineaVertical2 {
    background: rgb(0, 23, 89);
    width: 3px;
    height: 160px;
    position: relative;
    top: calc(50% - 940px);
    left: calc(50% - 255px);
    border-radius: 12px;
  }
  .enchufe1{
    object-fit: cover;
    width: 680px;
    position: relative;
    top: calc(50% - 960px); 
    left: calc(50% - 600px);
  }
  .enchufe2{
    object-fit: cover;
    width: 680px;
    position: relative;
    top: calc(50% - 960px); 
    left: calc(50% - 600px);
  }
} 


.image_tlf {
  display: none;
}
.postImage3{
  display: none;
}
.tlf_message{
  display: none;
}
.tlf_redirectButton{
  display: none;
}
.tlf_lineaVertical1{
  display: none;
}
.tlf_lineaVertical2{
  display: none;
}
.tlf_enchufe1{
  display: none;
}
.tlf_enchufe2{
  display: none;
}


@media (min-width: 395px) and (max-width: 549px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 300px;
    position: relative; 
    margin-top: 180px;
    margin-bottom: 100px;
  }

  .image_tlf {
    display: block; 
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 380px;
    height: 220px;
  }

  .postImage3{
    display: block; 
    position: absolute;
    top: calc(50% - -70px);
    left: calc(50% - -80px);
    transform: translate(-50%, -50%);
    width: 190px;
    height: 260px;
  }

  .tlf_message{
    display: block; 
    position: absolute;
    width: 310px;
    padding: 10px;
    text-align: left;
    top: calc(50% + 50px);
    left: calc(50% - 182px);
    font-size: 20px;
  }

  .tlf_redirectButton{
    display: block; 
    position: absolute;
    top: calc(50% + 160px);
    left: calc(50% - 150px);
  }

  .tlf_lineaVertical1{
    background-color: white;
    width: 2px;
    height: 125px;
    display: block; 
    position: absolute;
    top: calc(50% - -70px); 
    left: calc(50% - 190px);
    border-radius: 12px;
  }

  .tlf_lineaVertical2{
    background: rgb(0, 23, 89);
    width: 2px;
    height: 125px;
    display: block; 
    position: absolute;
    top: calc(50% - -70px); 
    left: calc(50% - 190px);
    border-radius: 12px;
  }

  .tlf_enchufe1{
    object-fit: cover;
    display: block; 
    position: absolute;
    top: calc(50% - -220px); 
    left: calc(50% - 270px);
  }

  .tlf_enchufe2{
    object-fit: cover;
    display: block; 
    position: absolute;
    top: calc(50% - -220px); 
    left: calc(50% - 270px);
  }

  .image {
    display: none; 
  }
  .message {
    display: none; 
  }
  .redirectButton {
    display: none; 
  }
  .postImage1 {
    display: none; 
  }
  .postImage2 {
    display: none; 
  }
  .lineaVertical1 {
    display: none; 
  }
  .lineaVertical2 {
    display: none; 
  }
  .enchufe1{
    display: none; 
  }
  .enchufe2{
    display: none; 
  }
}

@media (max-width: 394px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 300px;
    position: relative; 
    margin-top: 180px;
    margin-bottom: -50px;
  }

  .image_tlf {
    display: block; 
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 250px;
    height: 220px;
  }

  .postImage3{
    display: block; 
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - -45px);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 220px;
  }

  .tlf_message{
    display: block; 
    position: absolute;
    width: 310px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -85px);
    left: calc(50% - 142px);
    font-size: 13px;
  }

  .tlf_redirectButton{
    display: block; 
    position: absolute;
    top: calc(50% + -5px);
    left: calc(50% - 130px);
  }

  .tlf_lineaVertical1{
    background-color: white;
    width: 2px;
    height: 110px;
    display: block; 
    position: absolute;
    top: calc(50% - 75px); 
    left: calc(50% - 150px);
    border-radius: 12px;
  }

  .tlf_lineaVertical2{
    background: rgb(0, 23, 89);
    width: 2px;
    height: 110px;
    display: block; 
    position: absolute;
    top: calc(50% - 75px); 
    left: calc(50% - 150px);
    border-radius: 12px;
  }

  .tlf_enchufe1{
    object-fit: cover;
    display: block; 
    position: absolute;
    top: calc(50% - -50px); 
    left: calc(50% - 270px);
  }

  .tlf_enchufe2{
    object-fit: cover;
    display: block; 
    position: absolute;
    top: calc(50% - -50px); 
    left: calc(50% - 270px);
  }

  .image {
    display: none; 
  }
  .message {
    display: none; 
  }
  .redirectButton {
    display: none; 
  }
  .postImage1 {
    display: none; 
  }
  .postImage2 {
    display: none; 
  }
  .lineaVertical1 {
    display: none; 
  }
  .lineaVertical2 {
    display: none; 
  }
  .enchufe1{
    display: none; 
  }
  .enchufe2{
    display: none; 
  }
}


