/* error404.css */
@media (max-width: 2560px) {
.container {
  text-align: center;
  padding: 10px;
  height: 790px;
  margin: auto;
}

.image {
  position: relative;
  top: calc(50% - 195px);
  left: calc(50% - 30px);
  transform: translate(-50%, -50%);
  width: 1800px;
  height: 680px;
}

.message {
  position: relative;
  width: 310px;
  padding: 10px;
  text-align: left;
  top: calc(50% + -535px);
  left: calc(50% - 590px);
}

.redirectButton {
  position: relative;
  top: calc(50% + -520px);
  left: calc(50% - 495px);
  transform: translate(-50%, -50%);
  border-radius: 35px;
  width: 180px;
  height: 75px;
  padding: 20px;
  text-align: center;
}

.postImage1 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 600px;
  top: calc(50% - 790px);
  left: calc(50% - -220px);
}
.postImage2 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 415px;
  top: calc(50% - 1180px);
  left: calc(50% - -460px);
}
.lineaVertical1 {
  background-color: white;
  width: 2px;
  height: 175px;
  position: relative;
  top: calc(50% - 1595px);
  left: calc(50% - 610px);
}
.lineaVertical2 {
  background-color: blue;
  width: 2px;
  height: 175px;
  position: relative;
  top: calc(50% - 1595px);
  left: calc(50% - 610px);
}
.enchufe{
  width: 1700px;
  position: relative;
  top: calc(50% - 1670px);
  left: calc(50% - 1100px);
  
}
} 

@media (max-width: 1024px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 650px;
    background-color: blue;
    margin: auto;
  }
  
  .image {
    position: relative;
    top: calc(50% - 100px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 680px;
  }
  
  .message {
    position: relative;
    width: 310px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -700px);
    left: calc(50% - 375px);
  }
  
  .redirectButton {
    position: relative;
    top: calc(50% + -680px);
    left: calc(50% - 280px);
    transform: translate(-50%, -50%);
    border-radius: 35px;
    width: 180px;
    height: 75px;
    padding: 20px;
    text-align: center;
  }
  
  .postImage1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 300px;
    top: calc(50% - 930px);
    left: calc(50% - -60px);
  }
  .postImage2 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 305px;
    top: calc(50% - 1190px);
    left: calc(50% - -265px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 2px;
    height: 185px;
    position: relative;
    top: calc(50% - 1500px);
    left: calc(50% - 380px);
  }
  .lineaVertical2 {
    background-color: blue;
    width: 2px;
    height: 185px;
    position: relative;
    top: calc(50% - 1500px);
    left: calc(50% - 380px);
  }
  .enchufe{
    width: 1700px;
    position: relative;
    top: calc(50% - 1550px);
    left: calc(50% - 1100px);
  }
} 

@media (max-width: 768px) {
  .container {
    margin-bottom: 700px;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .message {
    width: 80%;
    top: calc(50% + -550px);
    left: calc(50% - 280px);
  }
  .redirectButton {
    top: calc(50% + -520px);
    left: calc(50% - 180px);
  }
  .postImage1 {
    width: 32%;
    top: calc(50% - 755px);
    left: calc(50% - -40px);
  }
  .postImage2 {
    width: 32%;
    top: calc(50% - 970px);
    left: calc(50% - -165px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 2px;
    height: 195px;
    position: relative;
    top: calc(50% - 1200px);
    left: calc(50% - 280px);
  }
  .lineaVertical2 {
    background-color: blue;
    width: 2px;
    height: 195px;
    position: relative;
    top: calc(50% - 1200px);
    left: calc(50% - 280px);
  }
} 