/* error404.css */
@media (max-width: 2560px) {
.container {
  text-align: center;
  padding: 10px;
  height: 790px;
}

.image {
  position: relative;
  top: calc(50% - 195px);
  left: calc(50% - 30px);
  transform: translate(-50%, -50%);
  width: 1800px;
  height: 680px;
}

.message {
  position: relative;
  width: 315px;
  padding: 10px;
  text-align: left;
  top: calc(50% + -535px);
  left: calc(50% - 590px);
  font-size: 32px;
}

.redirectButton {
  position: relative;
  top: calc(50% + -520px);
  left: calc(50% - 495px);
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 180px;
  height: 75px;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}

.postImage1 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 600px;
  top: calc(50% - 830px); 
  left: calc(50% - -220px);
}
.postImage2 {
  position: relative;
  transform: translate(-50%, -50%);
  width: 415px;
  top: calc(50% - 1200px); 
  left: calc(50% - -460px);
}
.lineaVertical1 {
  background-color: white;
  width: 20px;
  height: 190px;
  position: relative;
  top: calc(50% - 1630px);
  left: calc(50% - 610px);
  border-radius: 12px;
}
.lineaVertical2 {
  background-color: blue;
  width: 20px;
  height: 190px;
  position: relative;
  top: calc(50% - 1630px);
  left: calc(50% - 610px);
  border-radius: 12px;
}
.enchufe1{
  width: 1700px;
  position: relative;
  top: calc(50% - 1670px);
  left: calc(50% - 1100px);
  
}
.enchufe2{
  width: 1700px;
  position: relative;
  top: calc(50% - 1670px);
  left: calc(50% - 1100px);
  
}
} 

@media (max-width: 1325px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 650px;
   
  }
  
  .image {
    position: relative;
    top: calc(50% - 100px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 680px;
  }
  
  .message {
    position: relative;
    width: 330px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -700px);
    left: calc(50% - 375px);
  }
  
  .redirectButton {
    position: relative;
    top: calc(50% + -680px);
    left: calc(50% - 280px);
    transform: translate(-50%, -50%);
    border-radius: 35px;
    width: 180px;
    height: 75px;
    padding: 20px;
    text-align: center;
  }
  
  .postImage1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 300px;
    top: calc(50% - 960px);
    left: calc(50% - -80px);
  }
  .postImage2 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 305px;
    top: calc(50% - 1230px);
    left: calc(50% - -265px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 20px;
    height: 200px;
    position: relative;
    top: calc(50% - 1530px);
    left: calc(50% - 395px);
  }
  .lineaVertical2 {
    background-color: blue;
    width: 20px;
    height: 200px;
    position: relative;
    top: calc(50% - 1530px);
    left: calc(50% - 395px);
  }
  .enchufe1{
    width: 1700px;
    position: relative;
    top: calc(50% - 1550px);
    left: calc(50% - 1100px);
  }
  .enchufe2{
    width: 1700px;
    position: relative;
    top: calc(50% - 1550px);
    left: calc(50% - 1100px);
  }
} 

@media (min-width: 550px) and (max-width: 768px) {
  .container {
    text-align: center;
    padding: 10px;
    height: 650px;
  }
  .image {
    position: relative;
    top: calc(50% - 220px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 220px;
  }
  .message {
    position: relative;
    width: 310px;
    padding: 10px;
    text-align: left;
    top: calc(50% + -295px);
    left: calc(50% - 240px);
    font-size: 20px;
  }
  .redirectButton {
    position: relative;
    top: calc(50% + -280px);
    left: calc(50% - 160px); 
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 170px;
    height: 75px;
    padding: 20px;
    text-align: center;
  }
  .postImage1 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 250px;
    top: calc(50% - 460px); 
    left: calc(50% - -60px);
  }
  .postImage2 {
    position: relative;
    transform: translate(-50%, -50%);
    width: 250px;
    top: calc(50% - 690px); 
    left: calc(50% - -180px);
  }
  .lineaVertical1 {
    background-color: white;
    width: 20px;
    height: 165px;
    position: relative;
    top: calc(50% - 975px);
    left: calc(50% - 255px);
    border-radius: 12px;
  }
  .lineaVertical2 {
    background-color: blue;
    width: 20px;
    height: 165px;
    position: relative;
    top: calc(50% - 975px);
    left: calc(50% - 255px);
    border-radius: 12px;
  }
  .enchufe1{
    width: 1710px;
    position: relative;
    top: calc(50% - 1020px); 
    left: calc(50% - 1050px);
  }
  .enchufe2{
    width: 1710px;
    position: relative;
    top: calc(50% - 1020px); 
    left: calc(50% - 1050px);
  }
} 