.overlay {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 30vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.466);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.swipe {
  position: relative;
}

.gif-image {
  opacity: 0.8;
  border-radius: 10px;
}
