.overlay {
  position: absolute;
  width: 90%;
  height: 110%;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  backdrop-filter: blur(4px);

  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.show {
  opacity: 1; 
  visibility: visible; 
}

.gif-image {
  opacity: 0; 
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out; 
}

.gif-loaded {
  opacity: 0.8; 
}

@media (max-width: 768px) {
  .overlay {
    width: 100%;
    left: 0;
  }
}
