.overlay {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 30vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.466);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.swipe {
  position: relative;
}

.gif-image {
  opacity: 0; /* Inicialmente invisible */
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out; /* Aparece con una transición suave */
}

.gif-loaded { /* Clase que se agregará cuando el GIF esté cargado */
  opacity: 0.8; /* Aparece el GIF cuando se cargue completamente */
}

@media (max-width: 768px) {
  .overlay {
    width: 100%;
    left: 0;
  }
}
