@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Spinner */
/* .spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 } */

/* Skeleton */
.loaderRegister {
  /* Igual al tamaño máximo del formulario */
  height: 652px;
}

.loaderLogin {
  height: 480px;
}

.loader {
  position: relative;
  width: 100%;
  max-width: 512px; /* Igual al tamaño máximo del formulario */
  padding: 15px;
  background: #ffffff; /* Fondo blanco similar al del formulario */
  border-radius: 0.375rem; /* Bordes redondeados del formulario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation 1.2s linear infinite;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loader .line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
  background-color: #cacaca;
  border-radius: 0.375rem; /* Bordes redondeados */
}

.loader .line-1 {
  height: 3.5rem;
  width: 60%; /* Ajustado para el ancho del input de nombre */
}

.loader .line-2 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del input de correo electrónico */
}

.loader .line-3 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del input de contraseña */
}

.loader .line-4 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del botón */
}

.loader .line-5 {
  height: 2rem;
  width: 40%; /* Ajustado para el ancho del botón */
}

.loader .line-6 {
  height: 2rem;
  width: 40%; /* Ajustado para el ancho del botón */
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Button Auth Form */
.btnAuthForm {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  padding: 0.5rem;
}

.btnAuthForm:hover {
  border: 1px solid #6098ff;
  color: #6098ff;
}

/*Scrollbar*/

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #75bfff;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
