@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto.ttf');
}

@layer utilities {
  .mask-gradient-popup {
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  }
}

.container-blur {
  @apply fixed top-0 flex h-full min-h-[1000px] w-full justify-center overflow-hidden;
  @apply fixed top-0 flex h-full min-h-[1000px] w-full justify-center overflow-hidden;
}

.box {
  @apply h-full max-h-[1200px] w-full rounded-full;
  animation: spin 30s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  @apply absolute h-[80px] w-[80px] rounded-full blur-[3em];
}

.ball1 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(33deg) translateX(429px);
}

.ball2 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(72deg) translateX(264px);
}

.ball3 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(134deg) translateX(252px);
}

.ball4 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(234deg) translateX(302px);
}

.ball5 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(308deg) translateX(225px);
}

.ball6 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(-6deg) translateX(420px);
}

.ball7 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(189deg) translateX(368px);
}

.ball6Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(-6deg) translateX(420px);
}

.ball7Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(189deg) translateX(368px);
}

.ball5Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(308deg) translateX(225px);
}

.ball4Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(234deg) translateX(302px);
}

.ball3Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(134deg) translateX(252px);
}

.ball2Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(72deg) translateX(264px);
}

.ball1Dark {
  background-color: rgba(117, 117, 119, 0.601);
  transform: rotate(33deg) translateX(429px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Comentado para evitar problemas de compatibilidad con el diseño móvil salto en 640px de la pantalla */

/* @media (max-width: 640px) {

  /* Contenedor estilo móvil */
/* .mobile-container {
    @apply relative flex h-[70vh] w-full justify-center overflow-hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: inset(0 0 -5% 0);
    overflow: hidden;
  } */

/* Caja interna estilo móvil */
/* .mobile-box {
    @apply absolute h-[60%] w-full rounded-full;
    animation: spin 30s infinite linear;
    bottom: 0;
    left: 0%;
    transform: translateX(-50%);
  } */

/* Bolas más pequeñas */
/* .small-ball {
    width: 10px;
    height: 10px;
    margin: 5px;
    filter: blur(1em);
  }

  .container-blur {
    @apply relative flex h-[200vh] w-full justify-center overflow-hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: inset(0 0 -5% 0);
    overflow: hidden;
  }

  .box {
    @apply absolute h-[90%] w-full rounded-full;
    animation: spin 30s infinite linear;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .ball {
    @apply absolute h-[80px] w-[80px] rounded-full blur-[3em];
  }

  .ball1 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(33deg) translateX(429px);
  }

  .ball2 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(72deg) translateX(264px);
  }

  .ball3 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(134deg) translateX(252px);
  }

  .ball4 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(234deg) translateX(302px);
  }

  .ball5 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(308deg) translateX(225px);
  }

  .ball6 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(-6deg) translateX(420px);
  }

  .ball7 {
    background-color: rgba(42, 41, 120, 0.601);
    transform: rotate(189deg) translateX(368px);
  }

  .ball6Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(-6deg) translateX(420px);
  }

  .ball7Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(189deg) translateX(368px);
  }

  .ball5Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(308deg) translateX(225px);
  }

  .ball4Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(234deg) translateX(302px);
  }

  .ball3Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(134deg) translateX(252px);
  }

  .ball2Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(72deg) translateX(264px);
  }

  .ball1Dark {
    background-color: rgba(117, 117, 119, 0.601);
    transform: rotate(33deg) translateX(429px);
  } */
/* }  */

.p-revert {
  padding: revert;
}

/* Skeleton */
.loaderRegister {
  /* Igual al tamaño máximo del formulario */
  height: 652px;
}

.loaderLogin {
  height: 378px;
}

.loader {
  position: relative;
  width: 100%;
  max-width: 512px;
  /* Igual al tamaño máximo del formulario */
  padding: 15px;
  background: #ffffff;
  /* Fondo blanco similar al del formulario */
  border-radius: 1rem;
  /* Bordes redondeados del formulario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra del formulario */
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg,
      rgba(227, 227, 227, 0) 0%,
      rgba(227, 227, 227, 0) 40%,
      rgba(227, 227, 227, 0.5) 50%,
      rgba(227, 227, 227, 0) 60%,
      rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation 1.2s linear infinite;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loader .line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
  background-color: #cacaca;
  border-radius: 0.375rem;
  /* Bordes redondeados */
}

.loader .line-1 {
  height: 3.5rem;
  width: 60%;
  /* Ajustado para el ancho del input de nombre */
}

.loader .line-2 {
  height: 3rem;
  width: 90%;
  /* Ajustado para el ancho del input de correo electrónico */
}

.loader .line-3 {
  height: 3rem;
  width: 90%;
  /* Ajustado para el ancho del input de contraseña */
}

.loader .line-4 {
  height: 3rem;
  width: 90%;
  /* Ajustado para el ancho del botón */
}

.loader .line-5 {
  height: 2rem;
  width: 40%;
  /* Ajustado para el ancho del botón */
}

.loader .line-6 {
  height: 2rem;
  width: 40%;
  /* Ajustado para el ancho del botón */
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

body.swal2-shown {
  padding-right: 6px !important;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #75bfff;
  --sb-size: 6px;
  padding-right: 0px !important;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background: var(--sb-track-color);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Estilos del scrollbar usando variables definidas en el body */
ul.scrollable-list {
  margin-top: 5px;
  clip-path: inset(0 round 16px);
}

ul.scrollable-list-repentance {
  margin-top: 5px;
  clip-path: inset(0 0 0 0 round 0 0 16px 16px);
}

ul.scrollable-list,
ul.scrollable-list-repentance {
  padding-right: 0.5rem;
  /* Ajusta según sea necesario */
}

ul.scrollable-list::-webkit-scrollbar,
ul.scrollable-list-repentance::-webkit-scrollbar {
  width: var(--sb-size);
}

ul.scrollable-list::-webkit-scrollbar-track,
ul.scrollable-list-repentance::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

ul.scrollable-list::-webkit-scrollbar-thumb,
ul.scrollable-list-repentance::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {

  ul.scrollable-list,
  ul.scrollable-list-repentance {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* boton de pago */

.buttonPay {
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.buttonPay:hover {
  background-color: #6098ff;
}

.paypal-button-tagline {
  display: none !important;
}

/**Sweet Alert**/
div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 1rem !important;
}

.swal-custom-image {
  margin-top: 0 !important;
}

.swal-custom-image2 {
  margin-top: 1em !important;
  margin-bottom: 0 !important;
}

.swal2-title {
  padding-top: 0 !important;
  @apply mx-11 p-0 font-textFont text-xl;
  @apply mx-11 p-0 font-textFont text-xl;
}

.my-popup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Agrega espacio entre elementos internos */
}

.custom-container-payment {
  @apply p-0;
}

/**Button Second**/
.buttonSecond {
  outline: none;
  box-shadow:
    0px 0px 0px 0px #ffffff,
    0px 0px 0px 0px #012c8a;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecond:hover {
  box-shadow:
    0px 0px 0px 2px #ffffff,
    0px 0px 0px 4px #91aeec;
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  backdrop-filter: blur(5px);
}

/*  animaciones de los botones */

.buttonSecondDark {
  outline: none;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecondDark:hover {
  box-shadow:
    0px 0px 0px 2px #252526,
    0px 0px 0px 4px #ebe7e0;
}

.buttonSecondDarkDisabled {
  box-shadow: inherit;
}

.confirmAlert {
  max-width: 650px;
  width: 100%;
  padding: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (min-width: 550px) {
  .confirmAlert {
    padding: 0px !important;
  }

  /* Estilos de fuentes H1*/
  h1 {
    font-family: 'Open Sans', sans-serif;
  }
}

/**
 *   1. `fadeIn`: 
 *      - Realiza una transición de opacidad y posición vertical.
 *      - Inicio: `opacity: 0` y desplazamiento hacia abajo (`translateY(20px)`).
 *      - Fin: `opacity: 1` y posición original (`translateY(0)`).
 *      - Duración: 0.5 segundos.
 *   2. `lineGrowDown`: 
 *      - Anima la altura de una línea, simulando que crece hacia abajo.
 *      - Inicio: `height: 0` y posición inicial en la parte inferior.
 *      - Fin: `height: 30px` y posición ajustada hacia abajo.
 * 
 * - **Clase utilitaria**:
 *   - `.animate-fade-in`: 
 *     - Aplica la animación `fadeIn` con duración de 0.5 segundos.
 *     - La animación se ejecuta una sola vez hacia adelante (`forwards`).
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes lineGrowDown {
  from {
    height: 0;
    bottom: 0;
  }

  to {
    height: 30px;
    bottom: -30px;
  }
}

@layer utilities {
  @keyframes cloudAnimation {
    0% {
      transform: translateY(5px);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(5px);
    }
  }

  .cloud {
    animation: cloudAnimation 3s linear infinite;
  }
}

/*Carrusel*/

.slick-slide>div {
  margin: 0 0px;
}

/*Input - Sacar estilos del autofill*/

.dark .inputChangeAutofill:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: rgba(235, 231, 224, 1) !important;
}

.inputChangeAutofill:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: rgba(37, 37, 38, 1) !important;
}

.dark .inputChangeAutofillReverse:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: rgba(37, 37, 38, 1) !important;
}

.inputChangeAutofillReverse:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: rgba(37, 37, 38, 1) !important;
}

/* Navbar internal */

.montana {
  background-image: url('../public/images/montañaBlanca.png');
  background-repeat: no-repeat;
}

.montanaDark {
  background-image: url('../public/images/MontanaDark.png');
  background-repeat: no-repeat;
}