@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-90{
    width: 98%;
    margin: auto;
    margin-top: 0;
    
    }

    .pt-20{
      padding-top: 10%;
    }

    

}


.container-blur {
  @apply w-full h-[1200px] overflow-hidden flex justify-center relative left-0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: inset(0 0 -10% 0); /* Ajusta este valor si es necesario */
}

/* Caja */
.box {
  @apply w-full absolute rounded-full;
  animation: spin 30s infinite linear;
}

#bannerHTUButton {
  border: none;
  width: 200px;
  margin:auto;
  background-color: #012d8a;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 150px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  font-size: 16px;
  margin-top: 2%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ball {
  @apply absolute w-[130px] h-[130px] rounded-full blur-[5em];
}

.ball1 { background-color: rgba(42, 41, 120, 0.601); top: 10%; left: 25%; }
.ball2 { background-color: rgba(42, 41, 120, 0.601); top: 10%; right: 10%; }
.ball3 { background-color: rgba(42, 41, 120, 0.601); bottom: 10%; left: 50%; }
.ball4 { background-color: rgba(42, 41, 120, 0.601); bottom: 0; left: 10%; }
.ball5 { background-color: rgba(42, 41, 120, 0.601); bottom: 50%; right: 15%; }



@media (max-width: 640px) {
  .container-blur {
    @apply w-full h-[200vh] overflow-hidden flex justify-center relative left-0;
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: inset(0 0 -5% 0); 
  }
  .box {
    @apply w-full h-[90%] absolute rounded-full;
    animation: spin 30s infinite linear;
    bottom: 0; 
     }

  .ball {
    @apply absolute w-[110px] h-[110px] rounded-full blur-[5em];
  }

  .ball1 { background-color: rgba(42, 41, 120, 0.601); top: 30%; left: 20%; }
  .ball2 { background-color: rgba(42, 41, 120, 0.601); top: 35%; right: 15%; }
  .ball3 { background-color: rgba(42, 41, 120, 0.601); bottom: 25%; left: 50%; }
  .ball4 { background-color: rgba(42, 41, 120, 0.601); bottom: 10%; left: 15%; }
  .ball5 { background-color: rgba(42, 41, 120, 0.601); bottom: 30%; right: 10%; }
}




