@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #252526;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-90{
    width: 98%;
    margin: auto;
    margin-top: 0;
    
    }

    .pt-20{
      padding-top: 10%;
    }

    

}*/

.container-blur {
  @apply absolute flex h-[150vh] w-full justify-center overflow-hidden;
  
}




.box {
  @apply  h-full w-full rounded-full;
  animation: spin 30s infinite linear; /* Hace que los círculos giren */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ball {
  @apply absolute h-[110px] w-[110px] rounded-full blur-[4.5em];
}

/* Círculos con mayor extensión lateral */
.ball1 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(0deg) translateX(260px); /* Se extiende más hacia la derecha */
}

.ball2 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(72deg) translateX(200px); /* Un poco más cerca */
}

.ball3 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(144deg) translateX(250px); /* Se extiende más hacia la izquierda */
}

.ball4 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(216deg) translateX(280px);
}

.ball5 {
  background-color: rgba(42, 41, 120, 0.601);
  transform: rotate(288deg) translateX(230px); /* Un poco más al centro */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Animación para girar en círculo */
  }
}

@media (max-width: 640px) {
  .container-blur {
    @apply relative flex h-[200vh] w-full justify-center overflow-hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: inset(0 0 -5% 0);
    overflow: hidden;
  }

  .box {
    @apply absolute h-[90%] w-full rounded-full;
    animation: spin 30s infinite linear;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .ball {
    @apply absolute h-[110px] w-[110px] rounded-full blur-[5em];
  }

  /* Ajustes para posiciones más centradas en dispositivos móviles */
  .ball1 {
    background-color: rgba(42, 41, 120, 0.601);
    top: 35%;
    left: 35%;
  }
  .ball2 {
    background-color: rgba(42, 41, 120, 0.601);
    top: 35%;
    right: 35%;
  }
  .ball3 {
    background-color: rgba(42, 41, 120, 0.601);
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
  .ball4 {
    background-color: rgb(42, 41, 120);
    bottom: 25%;
    left: 25%;
  }
  .ball5 {
    background-color: rgba(42, 41, 120, 0.601);
    bottom: 25%;
    right: 25%;
  }
}

.p-revert {
  padding: revert;
}
/* Spinner */
/* .spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 } */

/* Skeleton */
.loaderRegister {
  /* Igual al tamaño máximo del formulario */
  height: 652px;
}

.loaderLogin {
  height: 480px;
}

.loader {
  position: relative;
  width: 100%;
  max-width: 512px; /* Igual al tamaño máximo del formulario */
  padding: 15px;
  background: #ffffff; /* Fondo blanco similar al del formulario */
  border-radius: 0.375rem; /* Bordes redondeados del formulario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation 1.2s linear infinite;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loader .line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
  background-color: #cacaca;
  border-radius: 0.375rem; /* Bordes redondeados */
}

.loader .line-1 {
  height: 3.5rem;
  width: 60%; /* Ajustado para el ancho del input de nombre */
}

.loader .line-2 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del input de correo electrónico */
}

.loader .line-3 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del input de contraseña */
}

.loader .line-4 {
  height: 3rem;
  width: 90%; /* Ajustado para el ancho del botón */
}

.loader .line-5 {
  height: 2rem;
  width: 40%; /* Ajustado para el ancho del botón */
}

.loader .line-6 {
  height: 2rem;
  width: 40%; /* Ajustado para el ancho del botón */
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Button Auth Form */
.btnAuthForm {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  padding: 0.5rem;
}

.btnAuthForm:hover {
  border: 1px solid #6098ff;
  color: #6098ff;
}

/*Scrollbar*/

body.swal2-shown {
  padding-right: 6px !important;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #75bfff;
  --sb-size: 6px;
  padding-right: 0px !important;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Estilos del scrollbar usando variables definidas en el body */
ul.scrollable-list {
  margin-top: 5px;
  clip-path: inset(
    0 round 16px
  ); /* Ajusta el valor según el borde redondeado */
}
ul.scrollable-list {
  padding-right: 0.5rem; /* Ajusta según sea necesario */
}
ul.scrollable-list::-webkit-scrollbar {
  width: var(--sb-size);
}

ul.scrollable-list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

ul.scrollable-list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  ul.scrollable-list {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* boton de pago */

.buttonPay {
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.buttonPay:hover {
  background-color: #6098ff;
}

.paypal-button-tagline {
  display: none !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 1rem !important;
}

div:where(.swal2-icon).swal2-info {
  color: #012c8a !important;
  border-color: #012c8a !important;
}

div:where(.swal2-icon).swal2-warning {
  color: #012c8a !important;
  border-color: #012c8a !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: #012c8a !important;
}

/*  animaciones de los botones */

.buttonSecond {
  outline: none;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecond:hover {
  box-shadow:
    0px 0px 0px 2px #ffffff,
    0px 0px 0px 4px #91aeec;
}

.buttonSecondDark {
  outline: none;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecondDark:hover {
  box-shadow:
    0px 0px 0px 2px #252526,
    0px 0px 0px 4px #ebe7e0;
}
