.espejo {
    transform: scaleX(-1);
  }
  .btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: white; 
    color: black; 
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transici칩n suave */
  }
  
  
  .btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
  }
  
 
  .btn:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
  }
  
  /* Bot칩n de tama침o peque침o */
  /* .btn-sm {
    padding: 5px 5px;
    font-size: 14px;
  } */
  
 
  .btn-lg {
    padding: 15px 20px;
    font-size: 18px;
  }

  input[type="text"], input[type="email"], textarea {
    background-color: transparent; 
    color: #ffffff; 
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 10px 0; 
    width: 100%; 
    font-size: 16px; 
    outline: none;
}
  
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none; 
    border-bottom:2px solid #ffffff; 
  }
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    color: white;
    opacity: 1;
  }
  textarea{
    min-height: 45px; 
    max-height: 500px; 
    overflow-y: auto; 
    resize: none; 
  }