.buttonSecond {
  outline: none;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecond:hover {
  box-shadow:
    0px 0px 0px 2px #ffffff,
    0px 0px 0px 4px #91aeec;
}


.buttonSecondDark {
  outline: none;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.buttonSecondDark:hover {
  box-shadow:
    0px 0px 0px 2px #252526,
    0px 0px 0px 4px #ebe7e0;
}