/* Common styles for both themes */
.switch {
  font-size: 13px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderLight,
.sliderDark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  border-radius: 30px;
}

.sliderLight:before,
.sliderDark:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  transition: 0.5s;
}

/* Light Mode */
.sliderLight {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 38 / var(--tw-bg-opacity));
}

.sliderLight:before {
  background-color: rgb(37 37 38 / var(--tw-bg-opacity));
  box-shadow: inset 8px -4px 0px 0px #ffee00;
}

/* Dark Mode */
.sliderDark {
  background-color: #ebe7e0;
}

.sliderDark:before {
  background: #ffee00dc;
  box-shadow: inset 15px -4px 0px 15px #ffee00;
  transform: translateX(100%);
}
